html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

.bg-primary {
  background-color: #2f495e !important;
}

.text-primary {
  color: #2f495e !important;
}

.text-success {
  color: #00c48d !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #2f495e !important;
}
